
.box-model{
    width: 400px;;
    height: 40px;
    background-color: grey;
    transition: background-color 0.5s ease;
    text-align: left;
    border: 0cap;
    line-height: 40px;
}
.box-model:hover{
    background-color: blue;
}